
.search-results .search-result {
    position: relative;
}

.search-results .search-result > .result-body {
    position: relative;;
}

.search-results .search-result > .result-body > .carousel {
    background: #FFFFFF;
}

.search-results .search-result > .result-body > .carousel .carousel-control {
    color: #EEE;
    background: none;
}

.search-results .search-result > .result-body > .carousel > .carousel-inner > .item > a.contained-image {
    width: 100%;
    height: 250px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.search-results .search-result > .result-body > .distance {
    left: 0;
    top: 30px;
    color: #FFFFFF;
    font-size: 24px;
    padding: 7px 10px;
    position: absolute;
    background-color: #3c3f40;
    background-color: rgba(60, 63, 64, 0.9);
}

.search-results .search-result > .result-body > .distance > .unit {
    font-size: 16px;
}

.search-results .search-result > .result-footer {
    padding: 10px;
    position: relative;
}

.search-results .search-result > .result-footer a.name {
    font-size: 16px;
    display: block;
}

.search-results .search-result > .result-footer a.serial {
    color: #AAA;
    display: block;
}

.search-results .search-result > .result-footer > .user-initials {
    top: -30px;
    right: 10px;
    width: 60px;
    padding: 18px 0;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #FFF;
    background: #F5F5F5;
    position: absolute;
}

@media(min-width: 768px) {
    #show-item-modal .modal-dialog {
        margin: 0;
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        bottom: 20px;
        height: auto;
        position: absolute;
    }

    #show-item-modal .modal-dialog .modal-content,
    #show-item-modal .modal-dialog .modal-content > .row {
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #show-item-modal .modal-dialog .modal-content .header,
    #show-item-modal .modal-dialog .modal-content .details {
        right: 0;
        width: 30%;
        padding: 0;
        position: absolute;
    }

    #show-item-modal .modal-dialog .modal-content .details {
        top: 56px;
        bottom: 0;
        overflow-y: scroll;
    }
    #show-item-modal .modal-dialog .modal-content .photos {
        width: 70%;
        padding: 0;
        height: 100%;
        position: absolute;
        border-right: 1px solid #EEE;
    }

    #show-item-modal .modal-dialog .modal-content .photos .carousel,
    #show-item-modal .modal-dialog .modal-content .photos .carousel .carousel-inner,
    #show-item-modal .modal-dialog .modal-content .photos .carousel .carousel-inner .item,
    #show-item-modal .modal-dialog .modal-content .photos .carousel .carousel-inner .item .image {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    #show-item-modal .modal-dialog .modal-content .photos .carousel .carousel-inner .item .image {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}


#show-item-modal .details .meta-data {
    padding: 0;
    list-style: none;
    margin: 15px -15px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

#show-item-modal .details .meta-data > li {
    padding: 15px 15px 0;
}

#show-item-modal .details .meta-data > li:last-child {
    padding-bottom: 15px;
}

#show-item-modal .details .meta-data > li .fa {
    float: left;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
    text-align: center;
}

@media (max-width: 767px) {
    #show-item-modal .modal-dialog .modal-content .photos .carousel .carousel-inner .item .image {
        background-image: none !important;
    }
}